<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
</head>
<body>
    <header>
        <nav>
            <!-- Блок входа/выхода -->
            <div style="text-align: right;">
                {% if session.get('user_id') %}
                    <!-- Если сессия есть, показываем кнопку "Выйти" -->
                    <a href="{{ url_for('logout') }}">Выйти</a>
                {% else %}
                    <!-- Если сессия не активна, показываем кнопку "Войти" -->
                    <a href="{{ url_for('login') }}">Войти</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <h1>Добро пожаловать на сайт!</h1>
    <ul>
        {% for page in pages %}
            <li><a href="{{ url_for('view_page', page_id=page.id) }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('public_site') }}">Назад</a>
</body>
</html>
